input.label:checked ~ label.label:before {
  content: "on";
  font-size: 0.9em;
  text-transform: uppercase;
  margin-right: 0;
  margin-left: 8px;
  margin-bottom: 3px; }

input.label:checked ~ label.label {
  background: #E2E2E2;
  background: -webkit-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -moz-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -o-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: -ms-radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
  background: radial-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }

input.label:checked ~ label.label i.label {
  right: -6px; }
