/* line 11, filters.scss */
#filters {
  width: 64vw;
  height: 18vh;
  margin-top: 67vh;
  margin-left: 4vw;
  position: absolute;
  z-index: 99; }
  /* line 18, filters.scss */
  #filters .filters {
    visibility: hidden;
    position: absolute;
    width: 64vw;
    height: 18vh;
    background-color: white; }
    /* line 24, filters.scss */
    #filters .filters .labels {
      width: 100%;
      height: 89%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      /* line 35, filters.scss */
      #filters .filters .labels span {
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 220px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 22px;
        margin-left: 7px;
        margin-top: 5px; }
/* line 84, filters.scss */
#filtersHead {
  width: 71vw;
  height: 1px;
  margin-top: 66vh;
  margin-left: 0.5vw;
  position: absolute;
  text-align: center; }
  /* line 91, filters.scss */
  #filtersHead p {
    width: 71vw;
    height: 1px;
    text-align: center;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    text-transform: uppercase;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0; }

/* line 106, filters.scss */
label {
  width: 50px;
  height: 20px;
  display: inline-block;
  margin-top: 22px;
  position: absolute;
  border-radius: 13px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  background: #8a8a8a;
  background: -webkit-linear-gradient(to top, #8a8a8a 0%, #AEAEAE 51%);
  background: -moz-linear-gradient(to top, #8a8a8a 0%, #AEAEAE 51%);
  background: -o-linear-gradient(to top, #8a8a8a 0%, #AEAEAE 51%);
  background: -ms-linear-gradient(to top, #8a8a8a 0%, #AEAEAE 51%);
  background: linear-gradient(to top, #8a8a8a 0%, #AEAEAE 51%);
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  line-height: 20px;
  font-style: normal;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, color-stop(0.5, transparent), to(rgba(255, 255, 255, 0.3)));
  cursor: pointer; }
  /* line 137, filters.scss */
  label:before {
    content: "off";
    font-size: 0.9em;
    margin-left: 19px;
    text-transform: uppercase;
    -webkit-transition: visibility 0s, z-index 0s, all 200ms ease;
    -moz-transition: visibility 0s, z-index 0s, all 200ms ease;
    -o-transition: visibility 0s, z-index 0s, all 200ms ease;
    -ms-transition: visibility 0s, z-index 0s, all 200ms ease;
    transition: visibility 0s, z-index 0s, all 200ms ease; }
  /* line 148, filters.scss */
  label i {
    position: absolute;
    top: -2px;
    right: 30px;
    width: 22px;
    height: 22px;
    display: block;
    border-radius: 24px;
    background: white;
    background: -webkit-linear-gradient(top, white 0%, #fcfcfc 11%, #e4e4e4 50%, #dddddd 53%, #cdcdcd 97%, #bfbfbf 100%);
    background: -moz-linear-gradient(top, white 0%, #fcfcfc 11%, #e4e4e4 50%, #dddddd 53%, #cdcdcd 97%, #bfbfbf 100%);
    background: -o-linear-gradient(top, white 0%, #fcfcfc 11%, #e4e4e4 50%, #dddddd 53%, #cdcdcd 97%, #bfbfbf 100%);
    background: -ms-linear-gradient(top, white 0%, #fcfcfc 11%, #e4e4e4 50%, #dddddd 53%, #cdcdcd 97%, #bfbfbf 100%);
    background: linear-gradient(top, white 0%, #fcfcfc 11%, #e4e4e4 50%, #dddddd 53%, #cdcdcd 97%, #bfbfbf 100%);
    box-shadow: inset 0 -3px 3px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 1px 0 rgba(255, 255, 255, 0.4), 0 2px 0 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: visibility 0s, z-index 0s, right 200ms ease;
    -moz-transition: visibility 0s, z-index 0s, right 200ms ease;
    -o-transition: visibility 0s, z-index 0s, right  200ms ease;
    -ms-transition: visibility 0s, z-index 0s, right  200ms ease;
    transition:  visibility 0s, z-index 0s, right  200ms ease; }
    /* line 168, filters.scss */
    label i:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 13px;
      height: 13px;
      margin: -6px 0 0 -6px;
      border-radius: 14px;
      background: #efefef;
      background: -webkit-linear-gradient(top, #efefef 0%, #e1e1e1 6%, #e1e1e1 24%, #e5e5e5 94%, #f2f2f2 100%);
      background: -moz-linear-gradient(top, #efefef 0%, #e1e1e1 6%, #e1e1e1 24%, #e5e5e5 94%, #f2f2f2 100%);
      background: -o-linear-gradient(top, #efefef 0%, #e1e1e1 6%, #e1e1e1 24%, #e5e5e5 94%, #f2f2f2 100%);
      background: -ms-linear-gradient(top, #efefef 0%, #e1e1e1 6%, #e1e1e1 24%, #e5e5e5 94%, #f2f2f2 100%);
      background: linear-gradient(top, #efefef 0%, #e1e1e1 6%, #e1e1e1 24%, #e5e5e5 94%, #f2f2f2 100%);
      box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1); }

/* line 188, filters.scss */
input:before {
  visibility: hidden;
  content: "Logic:";
  margin-left: -35px;
  font-size: 10px;
  color: #333; }

/* line 195, filters.scss */
input {
  visibility: hidden;
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left: 10px; }

