/* line 9, to_filters.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-transform 0.5s, visibility 0s, z-index 0s;
  transition: transform 0.5s, visibility 0s, z-index 0s; }

/* line 18, to_filters.scss */
#to_filters {
  width: 64vw;
  height: 14vh;
  margin-top: 66vh;
  margin-left: 4vw;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 100; }

/* line 34, to_filters.scss */
.to_fiters {
  display: block;
  width: auto;
  height: 6vh;
  overflow: hidden;
  line-height: 6vh;
  text-transform: capitalize;
  margin-top: 1vh;
  margin-left: 2vh;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  -webkit-transition: letter-spacing 1s, visibility 0s, z-index 0s;
  transition: letter-spacing 1s, visibility 0s, z-index 0s;
  border: none;
  font-size: .9em;
  display: inline-block;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center; }
  /* line 60, to_filters.scss */
  .to_fiters:before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  /* line 72, to_filters.scss */
  .to_fiters:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, #AEAEAE 0%, #FFFFFF 51%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  /* line 84, to_filters.scss */
  .to_fiters:hover {
    letter-spacing: 2px;
    color: linear-gradient(to top, #AEAEAE 0%, #FFFFFF 51%); }
    /* line 87, to_filters.scss */
    .to_fiters:hover:before, .to_fiters:hover:after {
      -webkit-transform: translateX(0%);
      transform: translateX(0%); }
