@import url(https://fonts.googleapis.com/css?family=Lato);

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-variant: small-caps;
}
#container {
  width: 72vw;
  height: 86vh;
  margin-left: 14vw;
  margin-top: 2vh;
  background-color: white;
  box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.1);
}
.left-menu {
  position: absolute;
}
.right-menu {
  position: relative;
}
ol {
  display: inline;
  margin-top: 5%;
}
#items {
  width: 72vw;
  height: 66vh;
  position: absolute;
}
.row {
  width: 72vw;
  height: 66vh;
}
.btn {
  position: absolute;
  cursor: pointer;
  top: 0.5vh;
  bottom: 0.5vh;
  height: 65vh;
  width: 3.5vw;
  text-align: center;
  display: block;
  transition: 0.5s;
  background-size: 200% auto;
}
.right {
  border-radius: 0 5px 5px 0;
  margin-left: 68vw;
  right: 0.5vh;
  background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF 51%, #ECE9E6 100%);
  background-position: right center;
}
.left {
  border-radius: 5px 0 0 5px;
  left: 0.5vh;
  background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF 51%, #ECE9E6 100%);
}
.left:hover {
  background-position: right center;
}
.right:hover {
  background-position: left center;
}
.left:active {
}
.right:active {
}
.btn span {
  margin-top: 29vh;
}
.btn:hover span {
  transform: scale(1.2);
}
.btn.right span {  
  height: 3vw;
  width: 5px;
    display: block;
    background: #ECE9E6;
    transform: rotate(-45deg);
    margin-left: 1.75vw;
    position: absolute;
}
.btn.right span::before {
  content: '';
  height: 3vw;
  width: 5px;
    display: block;
    background: #ECE9E6;
   transform: rotate(90deg);
    margin-left: -1.5vw;
    position: absolute;
    margin-top: 1.5vw;
}
.btn.left span {
  height: 3vw;
  width: 5px;
    display: block;
    background: #ECE9E6;
    transform: rotate(45deg);
    margin-left: 1.75vw;
    position: absolute;
}
.btn.left span::before {
  content: '';
  height: 3vw;
  width: 5px;
    display: block;
    background: #ECE9E6;
   transform: rotate(-90deg);
    position: absolute;
    margin-top: 1.5vw;
    margin-left: 1.5vw;
}
#row {
  position: absolute;
  width: 64vw;
  height: 66vh;
  margin-left: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#row > div {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 250px;
  margin-bottom: 0px;
  margin-top: 40px;
}
.item {
  z-index: 10;
  opacity: 1;
  width: 250px;
  height: 250px;
  position: absolute;
  transition: opacity 0.5s;
}
.description {
  z-index: 9;
  width: 200px;
  height: 200px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
}
.item:hover {
  opacity: 0.5;
}
.item:hover + .description {
  opacity: 1;
}
footer {
  margin-top: 2vh;
  height: 77px;
  position: relative;
  padding-left: 14vw;
  z-index: 999;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 0 10px 10px 10px rgba(0,0,0,.1);
}
